@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%; /* Pozadí - Bílá */
    --foreground: 210 100% 20%; /* Text - Tmavě modrá */
    --card: 0 0% 100%;
    --card-foreground: 210 100% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 100% 20%;
    --primary: 16 100% 65%; /* Hlavní barva - Oranžová */
    --primary-foreground: 0 0% 100%;
    --secondary: 205 74% 32%; /* Sekundární barva - Tmavě modrá */
    --secondary-foreground: 210 100% 20%;
    --muted: 0 0% 88%;
    --muted-foreground: 210 100% 20%;
    --accent: 16 100% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 80%;
    --input: 0 0% 95%;
    --ring: 16 100% 65%;
    --chart-1: 16 100% 65%;
    --chart-2: 205 74% 32%;
    --chart-3: 210 100% 20%;
    --chart-4: 0 84% 60%;
    --chart-5: 16 100% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 15%; /* Darkmode Pozadí - Tmavě šedá */
    --foreground: 0 0% 88%; /* Text - Světle šedá */
    --card: 0 0% 15%;
    --card-foreground: 0 0% 88%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 88%;
    --primary: 51 100% 50%; /* Hlavní barva - Žlutá */
    --primary-foreground: 0 0% 15%;
    --secondary: 207 65% 58%; /* Sekundární barva - Světle modrá */
    --secondary-foreground: 0 0% 88%;
    --muted: 0 0% 29%;
    --muted-foreground: 0 0% 88%;
    --accent: 51 100% 50%;
    --accent-foreground: 0 0% 15%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 29%;
    --input: 0 0% 29%;
    --ring: 51 100% 50%;
    --chart-1: 51 100% 50%;
    --chart-2: 207 65% 58%;
    --chart-3: 0 0% 88%;
    --chart-4: 0 84% 60%;
    --chart-5: 51 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
